<html>

<head>
	<title>{{ escape(handler.settings["title"]) }}</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="{{ static_url("swfobject.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("youtubeController.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("raphael.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("main.js") }}"></script>
	<style type="text/css">
		#closeNote:active {}
  		#closeNote:visited {}
  		#closeNote:hover {
  			cursor: pointer;
  		}
	</style>
</head>

<body>
	<div style="margin-bottom:10px;"></div>

	<div style="margin: auto; width: 1200px;">
		<div id="workspace" style="width: 320px; height: 240px; float: left; margin-right: 10px;">
			<div style="background-color: #ABB5F7; margin-bottom: 6px; width: 320px; text-align: center; font-size: 15px; font-family: arial;" id="openNote">Temp Notes</div>
				<div style="display: none; width: 320px; height: 2000px; background-color: #ABB5F7; z-index: 2;" id="notes">
				<span style="float:right; font-weight: bold; font-family: arial;" id="closeNote">X</span>
			</div>
			<div id = "mask" style="width: 320px; height: 240px; background-color: black; z-index: 2; position: absolute;">
				<div id="info" style="z-index: 3; position: relative; top: 50%; color: white; font-size: 14px; margin: auto; width: 300px; text-align: center">
				</div>
			</div>
			<div id="playercontainer">You need Flash player 10 and JavaScript enabled</div>
			<div style="margin-bottom: 10px;">
				<span style="font-family: arial"><a id="video_play" href="#">play</a></span>
				<span style="margin-left: 5px; margin-right: 5px; color: #BBBBBB;">|</span>
				<span style="font-family: arial"><a id="video_stop" href="#">stop</a></span>
			</div>

			<div>
				<div id="messagebox" style="width:320px; height: 300px; border: 1px solid #CCCCCC; overflow: auto;"></div>
				<div>
					<textarea rows="2" cols="36"></textarea>
					<input type="submit" value="send" id="send"/>
					<input type="submit" value="save" id="save"/>
					<span style="font-size: 12px; font-style: Georgia; margin-right: 3px;">Your name</span><input type="text" id="whom" size="10"/>
					<span id="palette" style="width: 15px; height: 15px;" value="#000000"></span>
				</div>
			</div>

		</div>
		
		<div id="paint" style="width: 600px; height: 6000px; float: left; margin-right: 10px; border: 1px solid #CCCCCC;"></div>
		
		<div id="data" style="width: 220px; float: left;">
			<div id="videotable" style="width: 220px; margin-bottom: 10px;"></div>
			<div>
				<select id="attr">
					<option value="gender">Gender</option>
					<option value="age">Age</option>
					<option value="1">Extroversion</option>
					<option value="2">Agreeableness</option>
					<option value="3">Conscientiousness</option>
					<option value="4">Neuroticism</option>
					<option value="5">Openness</option>
					<option value="6">SelfConsciousness</option>
					<option value="7">OtherFocusScale</option>
					<option value="8">Shyness</option>
					<option value="9">SelfMonitor</option>
					<option value="psi">ParasocialScale</option>
				</select>
			</div>
			<div id="codertable" styel="width: 220px;"></div>
		</div>
	</div>

</body>

</html>