

<html>

<head>
	<title>{{ escape(handler.settings["title"]) }}</title>
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ static_url("json.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("jquery.session.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("comment.js") }}"></script>
</head>

<body style="font-family: Georgia; font-size: 15px; margin:auto; width: 75%;">
	<div style="margin-bottom: 50px;"></div>

	<div style="margin-bottom: 15px;">
		Please write down your comments about this study. (e.g. Do you have difficulty in providing feedback?)
	</div>

	<div style="margin-bottom: 15px;">
		<textarea id = "comment" rows="6" cols="60"></textarea>
	</div>

	<div>
		<a href="#" id="verify">Click to submit your comments and get the verification code</a>
	</div>

</body>

</html>
