

<html>

<head>
	<title>{{ escape(handler.settings["title"]) }}</title>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ static_url("json.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("jquery.session.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("swfobject.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("youtubeController.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("watch.js") }}"></script>

	<style type="text/css">
  		td.unselected {
  			background-color: #CCCCCC;
  		}
  		td.selected {
  			background-color: #ABB5F7;
  		}

  		td.usroption:active {}
  		td.usroption:visited {}
  		td.usroption:hover {
  			cursor: pointer;
  			background-color: #ABB5F7;
  		}
  	</style>

</head>

<body meta="example" style="font-family: Georgia; font-size: 15px; margin:auto; width: 75%;">
	<div id="turkID" value="{{turkID}}"></div>

	<div id="intro" style="margin-top: 20px;">
		Please read the instructions carefully. You should interact with each video as follows step by step.
		<div style="margin-bottom: 20px;"></div>
		<hr/>
		<ol>
			<li>Wait until the video gets loaded</li>
			<div style="margin-bottom: 20px;"></div>
			
			<li>When it's ready, you'll see "Press space bar to start" on the screen. Follow it (i.e. press space bar) to start the video</li>
			<div style="margin-bottom: 20px;"></div>

			<li>While watching, please pretend that you are in a teleconference with the speaker in the video, and your task is to show that you are very interested in what he or she is telling you. Whenever you think it is a good time to give a response (such as nodding your head or uttering "uh-hum"), press the space bar. The following explanatory video illustrates the process, please watch it</li>
			<div style="margin-bottom: 20px;"></div>

			<li>When the video ends, you need to answer 6 questions regarding your experience with the speaker you just watched. After you finish these questions, click submit button, the next video will be loaded automatically</li>
			<div style="margin-bottom: 20px;"></div>

			<li>Return back to item 1</li>

		</ol>
		<div>
			You are going to watch 8 videos (each 2-3 minutes long). When you finish watching all videos, you'll be redirected to the "comment page", where you give us some comments about this experiment and get <span style="font-weight: bold;">the verification code</span>.
		</div>
		<div style="margin-top: 40px; margin-bottom: 15px;">Example video (Press space bar when you'd like to give feedback)</div>
	</div>

	<div style="margin-top: 10px;"></div>
	
	<div style="margin: auto; width: 656px;">
	<div style="marign: auto; width: 656px; height: 496px; background-color: white;">
		<div style="padding-left: 8px; padding-top: 8px; width: 640px;">
			<div id = "mask" style="width: 640px; height: 480px; background-color: black; z-index: 2; position: absolute;">
				<div id="info" style="z-index: 3; position: relative; top: 50%; color: white; font-size: 18px; margin: auto; width: 300px; text-align: center">
				</div>
			</div>
			<div id = "workspace">	
				<div id = "playercontainer">You need Flash player 10 and JavaScript enabled</div>
			</div>
		</div>
	</div>
	</div>

	<div style="margin-top: 10px; text-align: center;" id="tip"></div>
	<div style="margin-top: 15px; margin: auto; width: 300px; display: none; text-align: center; font-weight: bold;" id="once">
		Now that you finish watching the example video, you should be familiar with the procedure. Follow the <a href="#" id="startButton">link</a> to start the study.
	</div>

	<div style="margin: auto; width: 640px; display: none" id="pq">
		<hr/>
		Pleaes answer the following questions: <br/><br/>
		<span style="margin-right: 10px;"></span>While watching the clip, I had the illusion that the speaker

		<div style="margin-top: 15px;"></div>
		<table border="0" cellpadding="10">
			<tr no="1">
				<td title="" style="font-size: 14px; width: 250px;">1. was aware of me</td>
				<td class="unselected usroption"><span class="usroption" value="1">Strongly Disagree</span></td>
				<td class="unselected usroption"><span class="usroption" value="2">Disagree</span></td>
				<td class="unselected usroption"><span class="usroption" value="3">Neutral</span></td>
				<td class="unselected usroption"><span class="usroption" value="4">Agree</span></td>
				<td class="unselected usroption"><span class="usroption" value="5">Strongly Agree</span></td>
			</tr>
			<tr no="2">
				<td title="" style="font-size: 14px; width: 250px;">2. knew I was there</td>
				<td class="unselected usroption"><span class="usroption" value="1">Strongly Disagree</span></td>
				<td class="unselected usroption"><span class="usroption" value="2">Disagree</span></td>
				<td class="unselected usroption"><span class="usroption" value="3">Neutral</span></td>
				<td class="unselected usroption"><span class="usroption" value="4">Agree</span></td>
				<td class="unselected usroption"><span class="usroption" value="5">Strongly Agree</span></td>
			</tr>
			<tr no="3">
				<td title="" style="font-size: 14px; width: 250px;">3. knew I was aware of him/her</td>
				<td class="unselected usroption"><span class="usroption" value="1">Strongly Disagree</span></td>
				<td class="unselected usroption"><span class="usroption" value="2">Disagree</span></td>
				<td class="unselected usroption"><span class="usroption" value="3">Neutral</span></td>
				<td class="unselected usroption"><span class="usroption" value="4">Agree</span></td>
				<td class="unselected usroption"><span class="usroption" value="5">Strongly Agree</span></td>
			</tr>
			<tr no="4">
				<td title="" style="font-size: 14px; width: 250px;">4. knew I paid attention to him/her</td>
				<td class="unselected usroption"><span class="usroption" value="1">Strongly Disagree</span></td>
				<td class="unselected usroption"><span class="usroption" value="2">Disagree</span></td>
				<td class="unselected usroption"><span class="usroption" value="3">Neutral</span></td>
				<td class="unselected usroption"><span class="usroption" value="4">Agree</span></td>
				<td class="unselected usroption"><span class="usroption" value="5">Strongly Agree</span></td>
			</tr>
			<tr no="5">
				<td title="" style="font-size: 14px; width: 250px;">5. knew that I reacted to him/her</td>
				<td class="unselected usroption"><span class="usroption" value="1">Strongly Disagree</span></td>
				<td class="unselected usroption"><span class="usroption" value="2">Disagree</span></td>
				<td class="unselected usroption"><span class="usroption" value="3">Neutral</span></td>
				<td class="unselected usroption"><span class="usroption" value="4">Agree</span></td>
				<td class="unselected usroption"><span class="usroption" value="5">Strongly Agree</span></td>
			</tr>
			<tr no="6">
				<td title="" style="font-size: 14px; width: 250px;">6. reacted to what I said or did</td>
				<td class="unselected usroption"><span class="usroption" value="1">Strongly Disagree</span></td>
				<td class="unselected usroption"><span class="usroption" value="2">Disagree</span></td>
				<td class="unselected usroption"><span class="usroption" value="3">Neutral</span></td>
				<td class="unselected usroption"><span class="usroption" value="4">Agree</span></td>
				<td class="unselected usroption"><span class="usroption" value="5">Strongly Agree</span></td>
			</tr>
		</table>
		<div style="margin-top: 10px;"></div>
		<a href="#" id="nextButton" style="">Click here to submit your answer and go to next video</a>
		<div style="margin-top: 20px;"></div>
	</div>

</body>

</html>
