<html>

<head>
	<title>{{ escape(handler.settings["title"]) }}</title>	
</head>

<body>
	<div style="margin: auto; width: 80%;">
		<div style="margin: auto;">
			<img src="{{ escape(handler.settings["base_url"])+"static/img/logo.png" }}" width="45%" height="250px"/>
			<img src="{{ escape(handler.settings["base_url"])+"static/img/demo.png" }}" width="45%" height="250px"/>
		</div>

		<div style="margin-bottom: 15px;"></div>

		<div style="font-family: Georgia; font-size: 17px; width: 90%;">
			Thank you for participating in this human behavior study run by Institute for Creative Technolgies, University of Southern California. Please read the following description carefully.
		</div>

		<div style="margin-bottom: 30px;"></div>

		<div style="font-family: Georgia; font-size: 17px; width: 90%; border: 1px solid;">
			In this study, you are going to watch several videos, each about 2-3 minutes long. Each video features a speaker telling his or her version of two stories (to a listener who is out of the camera). While watching the videos, we ask you to pretend that you are in a teleconference with the speaker. Your task is to pretend that you are very interested in what the speaker is telling you. In order to achieve this goal, you must provide feedback - such as nodding your head or uttering "uh-hum" - to the speaker while he or she is talking. You should be familiar with this kind of behavior from when you talk with your good friends: you both provide such feedback to each other so that the conversation goes smoothly. However, in our study, instead of exhibiting the real behavior, we ask you to press a button - the space bar on your keyboard - whenever you think it is a good time to give such a response. We will show you an explanatory video later to illustrate the process.
		</div>

		<div style="margin-bottom: 30px;"></div>

		<div style="font-family: Georgia; font-size: 17px; width: 90%;">
			Please input your Amazon Turk ID: <input id="amazon_turk_id" type="text"></input><input id="submit_amazon_turk_id" type="button" value="Submit"></input>
		</div>
		<div style="font-family: Georgia; font-weight: bold; font-size: 15px;">
			(This is very important. We will validate the data you provide later and approve your work using your Amazon Turk ID.)
		</div>
			
		<div style="margin-bottom: 50px;"></div><hr/>

		<div style="font-family: Georgia; font-size: 17px; width: 90%;">
			How to find your Amazon Turk ID? <br/>
			<ol>
				<li>Right click on "Your Account" and choose "Open Link in New Tab"</li>
				<li>In the opened page, you can find your Amazon Turk ID</li>
			</ol>
			<img src="{{ escape(handler.settings["base_url"])+"static/img/amazon_turk_ID.png" }}" width="90%"/>
		</div>
	</div>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ static_url("json.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("jquery.session.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("mturk.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("swfobject.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("youtubeController.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("watch.js") }}"></script>
	
</body>

</html>
